* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(83, 90, 90);
    font-family: sans-serif;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid cyan;
}

h1 {
    color: white;
    margin-top: 35px;
    margin-bottom: 50px;
}

p {
    color: white
}

ul {
    margin-top: 60px;
}

li {
    margin-bottom: 25px;
    list-style: none;
}

a {
    background-color: cyan;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 12px;
}

a:hover {
    background-color: rgb(154, 185, 185);
    color: cyan;
}

footer{
    color: white;
}

.container {
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}